body {
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.item-list {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 4px;
  max-width: 500px;
  word-wrap: break-word;
}

.item-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 8px;
  background-color: #fcfcfc;
  border: solid 1px #0c0c0c;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2);
}

.item-list .draggedover {
  background-color: #eeeeee;
}

.item-list .dragged {
  background-color: #cccccc;
}

.item-list li span {
  max-width: 85%;
  cursor: default;
}

.item-list .draggedover * {
  pointer-events: none;
}
